.calendar{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    user-select: none;

    &-head{
        &-item{
            color: var(--secondary-color);
            text-align: center;
            font-size: 13px;
            margin: 10px 0;
        }
    }

    &-grid{
        display: flex;
        flex-wrap: wrap;


        &-item{
            flex: 1 0 calc(100% / 7);

            max-width: calc(100% / 7);

            font-size: 13px;

            .calendar-item{
                &-container{
                    background-color: var(--secondary);

                    margin: 1px;
                    padding: 5px;
                    border-radius: 1px;

                    height: 100px;

                }

                &-event{
                    height: calc(100% - 10px);
                    overflow-y: auto;
                }

                &-head{
                    display: flex;
                    align-items: end;

                    b{
                        font-weight: 200;
                        color: var(--secondary-color);
                    }

                    &-count_el{
                        margin-left: 4px;
                        font-size: 10px;
                        color: var(--secondary-color);


                        @media (max-width: 640px) {
                            display: none;
                        }
                    }
                }
            }

            &.today{
                background-color: var(--selected);
                .calendar-item{
                    &-head{
                        b{
                            color: var(--selected) !important;
                        }
                    }
                }
            }

            &.calendar-current_month{
                .calendar-item{
                    &-container{
                        background-color: var(--main);

                    }

                    &-head{
                        b{
                            font-weight: 600;
                            color: var(--main-color);
                        }
                    }
                }
            }

        }

        .calendar-head-item{
            flex: 1 0 calc(100% / 7);
        }
    }

    
    @media (max-width: 640px) {
        &-item{
            &-head{
                margin: 0 2px;

                font-size: 10px;
            }

            &-container{

            }
        }
        &-grid{
            &-item{
                .calendar-item{
                    &-container{
                        padding: 5px 0;
                    }
                }
            }
        }
    }
}